<a href="https://colab.research.google.com/github/Prakash-076/Python-Machine-Learning/blob/main/Store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                index=['one','two','three'],
                columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [ ]:
2.     #Taking the input from Dataframe and storing in the Excel file

print("Taking the input from Dataframe and storing in the Excel file")

df.to_excel('d:\pandas_to_excel.xlsx', sheet_name='new_sheet_name')

<>:5: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-2648162574.py:5: SyntaxWarning: invalid escape sequence '\p'
  df.to_excel('d:\pandas_to_excel.xlsx', sheet_name='new_sheet_name')

Taking the input from Dataframe and storing in the Excel file

In [ ]:
#Second Dataframe input to another Excel file

d = pd.DataFrame([[110, 210, 310], [12, 220, 320], [310, 320, 330]], index=['four', 'five', 'six'], columns=['a', 'b', 'c'])

d.to_excel('d:\pandas_to_excell.xlsx', sheet_name='new_sheet_name')

<>:5: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-1665005827.py:5: SyntaxWarning: invalid escape sequence '\p'
  d.to_excel('d:\pandas_to_excell.xlsx', sheet_name='new_sheet_name')

In [ ]:
#merging two excel file
x=pd.read_excel('d:\pandas_to_excel.xlsx')
y=pd.read_excel('d:\pandas_to_excell.xlsx')
z=pd.concat([x,y])
z.to_excel('d:\pandas_to_excel3.xlsx')

<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-547210274.py:2: SyntaxWarning: invalid escape sequence '\p'
  x=pd.read_excel('d:\pandas_to_excel.xlsx')
/tmp/ipython-input-547210274.py:3: SyntaxWarning: invalid escape sequence '\p'
  y=pd.read_excel('d:\pandas_to_excell.xlsx')
/tmp/ipython-input-547210274.py:5: SyntaxWarning: invalid escape sequence '\p'
  z.to_excel('d:\pandas_to_excel3.xlsx')

In [ ]:
#Sorting the column vaules
df=z.sort_values(["a"])
print(df)
df.to_excel('d:\pandas_to_excel4.xlsx')

  Unnamed: 0    a    b    c
0        one    1    2    3
1        two    4    5    6
2      three    7    8    9
1       five   12  220  320
0       four  110  210  310
2        six  310  320  330

<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-3002126471.py:4: SyntaxWarning: invalid escape sequence '\p'
  df.to_excel('d:\pandas_to_excel4.xlsx')